<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82A03FF51C23E259000F7EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A0400E1C23E259000F7EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A040191C23E259000F7EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
